//Variables
$boxColor : #000000;
$boxFont : #ffffff;
$navFont : 24px;
$fontFam : "Arial";
$navFontFam : "Arial", Sans-serif;
$navFontColor : black;
$mobNav : 15px;
$padTop : 30px;
$black : black;
$margin : 20px;
$letterSpace : 30px;
$navHeight : 50px;
$infoTitle : 27px;
$lineSpace : 50px;
$radius : 40%;
$deskRadius : 0%;
$footerFont: 40px;
$butWidth : 100px;
$butHeight : 30px;



